<div class="container text-center">
  <h1>About Page</h1>
  <p>Sample text. 
  Sample focus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo autem consequuntur maxime ducimus odio ratione doloribus modi alias quaerat pariatur. Quam, blanditiis, ipsa consectetur autem eligendi eos placeat soluta eius.
  </p>
</div>